:root {
    --paper-bg:#ffffdc;
}

/* lobotomized owl - a better version of CSS reset*/
* + * {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
}

body {
    background-color: #333;
}


.container {
    width: 80vw;
    height: 100%;
    margin: 20px auto;
    padding: 20px;
}

.paper {
    background-color:var(--paper-bg);
    box-shadow:0px 0px 10px 2px rgba(0, 0, 0, 0.55);
}

.content-holder {
    width: 90%;
    overflow: hidden;
    margin: 20px auto;
    background-color:rgb(235, 213, 213);
    padding:20px;
    text-align: justify;
}

.avatar-image {
    float:left;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin: 20px;
    shape-outside: circle();
}

.ninja-image {
    float:left;
    border-radius: 50%;
    margin: 20px;
    shape-outside: ellipse();
    width: 20%;
}

.kali-image {
    float:left;
    width: 50%;
    margin: 20px;
    shape-outside: polygon(0.8% 0.68%, 66.61% 5.25%, 90% 39%, 95.93% 46.04%, 90% 52%, 100.14% 78.67%, 92.39% 100.84%, 72.86% 71.62%, 21.9% 52.71%, 1% 19%);
}


.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loader-cube {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    perspective: 450em;
    transform-origin: center center 0;
    animation: rotate 10s ease-out forwards infinite;
  }
  
  @keyframes rotate {
    0% {transform: rotate3d(0,0,0,120deg);}
    100% {transform: rotate3d(1,1,1,330deg);}
  }

  @keyframes backgroundGradient {
      0% {background: linear-gradient(#d01717,rgba(225, 224, 211, 0.3));}
      100% {background: linear-gradient(#5159d2d4,rgba(225, 224, 211, 0.3));}
  }
  
  [class^="face"] {
    position: absolute;
    width: 100px;
    height: 100px;
    background: linear-gradient(transparent,rgba(57, 216, 57, 0.3));
    background-size: 100% 3px;
    animation: backgroundGradient 5s ease-out alternate-reverse infinite;
  }
  
  .face-1 {
    transform: translateZ(50px);
  }
  
  .face-2 {
    transform: translateZ(-50px);
  }
  
  .face-3 {
    transform: rotateX(90deg) translateZ(50px);
  }
  
  .face-4 {
    transform:rotateX(90deg) translateZ(-50px);
  }
  
  .face-5 {
    transform:rotateY(90deg) translateZ(50px);
  }

  .face-6 {
    transform:rotateY(90deg) translateZ(-50px);
  }

div.hide {
    display: none;
}

/*Fluid typography*/
@media screen and (min-width: 320px) {
    html{
    font-size: calc(16px + 6*((100vw - 320px) / 680));
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 22px;
    }
}

/*Media queries for potrait mode for mobile devices*/
@media only screen and (max-width:680px) {
    .avatar-image {
        width: 50%;
        margin: 5%;
    }

    .ninja-image {
        margin: 5%;
        width: 45%;
    }

    .kali-image {
        width: 60%;
        margin: 5%;
    }
}